/*
Author: Brian Zhou
Version: 1.0.0
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# H4 for privacy policy
--------------------------------------------------------------*/
/*
# Normalize
--------------------------------------------------------------*>*/

.private_h4{
    color:yellow;
    font-family:Courier;
}
